<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
</head>

<body>
    <h1>ZIP FINDER</h1>
    <h2>Upload your bulk file below (Max file size: 500KB)...</h2>

    <form action="" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Get Zip Codes">
    </form>
    <p>
    <div id="Enter" type="button" class="button">
        <a href="{{ url_for('home') }}">Single Address Lookup</a>
    </div>
    </p>
    </form>
</body>

</html>
