<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
</head>

<body>
    <h1>ZIP FINDER</h1>
    <h2>Enter your address below...</h2>

    <form action="" method="POST">
        <p>
            <input type="text" name="field1_name" value="{{ request.form['field1_name'] }}" />
        </p>
        {% if zip_codes %}
        <p>
            {{ zip_codes }}
        </p>
        {% endif %}
        <p>
            <input type="submit" value="submit" />
        </p>
    </form>
    <p>
    <div id="Enter" type="button" class="button">
        <a href="{{ url_for('bulk') }}">Bulk Upload</a>
    </div>
    </p>
</body>

</html>
